# PostgreSQL data
data/

# Python
*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/

# Odoo
*.log
filestore/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Virtual environment
venv/
.env
